 
 @mixin mobile {
    @media screen and (max-width: 480px) {
     @content;
    }
}
@mixin table {
    @media screen and (max-width: 768px) {
        @content;
        
    }
}
@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;

    }
 }

 $darkColor: #2f2d52;

*{
    margin: 0;
    padding: 0;
}




.formContainer{
    background: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background: #fff;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .logo{
            color: #7b37ce;
            font-size: 24px;
            font-weight: bold;
            
        }
        .title{
            font-size: 12px;
            color: #7b37ce;
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 15px;

            input{
                padding: 15px;
                border: none;
                outline: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;
                &::placeholder{
                    color: rgb(175, 175, 175);
                }
            }

            button{
                background-color: #7b96ec;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                
            }
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #5d5b8d;
                font-size: 12px;
                cursor: pointer;

                img{
                    width: 32px;
                }
            }


        }
        p{
            font-size: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }

}


.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 85%;
        display: flex;
        overflow: hidden;
        @include table{
            width: 90%;
    
        }

        .sidebar{
            flex: 1;
            background-color: #3e3c61;
            position: relative;

            .navbar{
                display: flex;
                align-items: center;
                background-color: #2f2f2f;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: #ddddf7;

                .logo{
                    font-weight: bold;
                    @include table{
                        display: none;
                
                    }
                }
                .user{
                    display: flex;
                    gap: 10px;;
                    align-items: center;

                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #5d5b5d;
                        border: none;
                        font-size: 10px;
                        color: #ddddf7;
                        padding: 5px 8px;
                        cursor: pointer;
                        border-radius: 3px;
                        @include table{
                            position: absolute;
                            bottom: 10px;
                    
                        }
                        
                    }
                }
            }
            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;


                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        &::placeholder{
                            color: lightgray;
                        }

                    }

                }
            }
            .userChat{
                display: flex;
                align-items: center;
                padding: 10px;
                gap: 10px;
                color: #fff;
                cursor: pointer;

                &:hover{
                    background-color: #2f2f2f;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover
                }
                .userChatInfo{
                    span{font-size: 18x; font-weight: 500;}

                    p{
                    font-size: 12px;
                    color: lightgray;
                    }
                }
            }

        }
        .chat{
            flex: 2;

            .chatInfo{
                display: flex;
                align-items: center;
                height: 50px;
                background-color: #5d5b8d;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;

            }
            .ChatIcon {
                display: flex;
                gap: 10px;
               
                img{
                    height: 24px;
                    cursor: pointer;
                }
        
            }  

            .messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px);
                overflow: auto;
                

                .message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo{
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }
                    .messageContent{
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        p{
                            background-color: #fff;
                            padding: 10px 20px;
                            border-radius: 0 10px 10px 10px;
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }

                    &.owner{
                        flex-direction: row-reverse;
                       .messageContent{
                        align-items: flex-end;

                           p{
                               background-color: #6584ea;
                               color: #fff;
                               border-radius: 10px 0 10px 10px;
                                     
                            }
                        }

                    }
                }

            }
                .input{
                    height: 50px;
                    background-color: #fff;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    input{
                        width: 78%;
                        padding: 5px;
                        border: none;
                        outline: none;
                        color: #2f2f2f;
                        font-size: 18px;
                        &::placeholder{
                            color: lightgray;
                        }
                    }
                    .send{
                        display: flex;
                        align-items: center;
                        gap: 10px;

                        img{
                            height: 24px;
                            cursor: pointer;
                        }

                        button{
                            background-color: #6584ea;
                            padding: 8px 15px;
                            border: none;
                            outline: none;
                            color: white;
                            border-radius: 2px;
                            cursor: pointer;

                        }
                    }

                }
        }

    }

}